<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/header') %>
<%- partial('_partial/mobile-header') %>
<div class="main">
    <div class="content-inner">
        <%- body %>
    </div>
</div>
<%- partial('_partial/social') %>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<%- js('js/index.js') %>

<% if(config.comment) { %>
    <script src="/js/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '<%- page.title %>',
            owner: '<%- config.comment.owner %>',
            repo: '<%- config.comment.repo %>',
            oauth: {
                client_id: '<%- config.comment.id %>',
                client_secret: '<%- config.comment.secret %>'
            }
        });
        gitment.render('comment-container');
    </script>
<% } %>

</html>
